@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 23% 14%; /* #1A202C */
    --foreground: 210 40% 98%;

    --card: 221 23% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 221 23% 14%;
    --popover-foreground: 210 40% 98%;

    --primary: 182 100% 74%; /* #7DF9FF */
    --primary-foreground: 221 23% 10%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 111 100% 53%; /* #39FF14 */
    --accent-foreground: 111 100% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 22.5%;
    --input: 217.2 32.6% 22.5%;
    --ring: 182 100% 84%;

    --radius: 0.5rem;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}
